<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="http://127.0.0.1:8000/ourblog/home" class="list-group-item">Home</a>

{% for category in categories %}
<div class="row">
<a href="http://127.0.0.1:8000/ourblog/home/category/{{ category.id }}" class="list-group-item col-4 header">{{ category.category_name }}</a>
<button class="float-right col-4 offset-1 btn btn-primary subs" >Subscribe</button>
</div>
{% endfor %}

</body>
</html>