<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>

{% block categories_block %}
<a href="http://127.0.0.1:8000/ourblog/home" class="list-group-item">Home</a>

{% for category in categories %}

<a href="http://127.0.0.1:8000/ourblog/home/category/{{ category.id }}" class="list-group-item">{{ category.category_name }}</a>

{% endfor %}
{% endblock %}

{% block main_block %}

<h3>hamadaaaa</h3>
{% endblock %}
</body>
</html>