<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="POST">

        {% csrf_token %}
        <b>Username:</b>
        <input type="text" name="username">
        <br><br>

        <b>Password:</b>
        <input type="password" name="password">
        <br><br>

        <input type="submit" value="Login">

    </form>

</body>
</html>