<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>

        {% block categories_block %}


            {%  for category in categories  %}

                <a href="#" class="list-group-item">{{ category.category_name }}</a>

            {%  endfor  %}


        {% endblock %}


        {% block main_block %}

            {% load staticfiles %}

            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="{% static post.post_picture %}" alt="">
                <div class="card-body">
                  <h1 class="card-title">{{post.post_title}}</h1>
                  <h4>{{post.post_author}}</h4>
                  <p class="card-text">{{post.post_content}}</p>
                  <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                  {% for tag in tags %}
                        {{tag}}
                    {% endfor %}
                    <span class="pull-right">
                        {% if user.is_authenticated %}
                                <!--<img src="{% static 'images/icons/thumb-up.svg'  %}"> -->
                                <!--<img src="{% static 'images/icons/thumb-down.svg' %}">-->
                            <button class="btn btn-success btn-sm" id="likeBtn" postId="{{post.id}}">Like</button>
                            <button class="btn btn-danger btn-sm" id="dislikeBtn" postId="{{post.id}}">Dislike</button>

                        {% endif %}
                    </span>
                </div>
              </div>
              <!-- /.card -->

              <div class="card card-outline-secondary my-4">
                <div class="card-header">
                  Comments
                </div>
                <div class="card-body">

                    {%  for comment in comments  %}

                        <p>{{comment.comment_text}}</p>
                        <small class="text-muted">Posted by {{comment.comment_user.username}} on {{comment.comment_created_at}}</small>
                        <hr>

                        <div class="card-body">


                                {%  for comment_replies in replies  %}

                                    {%  for reply in comment_replies  %}

                                        {% if reply.reply_comment.id == comment.id%}

                                            <p>{{reply}}</p>
                                            <small class="text-muted">Posted by {{reply.reply_user}} on {{reply.reply_created_at}}</small>
                                            <hr>

                                        {% endif %}

                                    {%  endfor  %}

                                {%  endfor  %}

                                 {% if user.is_authenticated %}
                                    <form method="get" id="replyForm" action="/ourblog/commentreply/{{post.id}}/{{comment.id}}">{% csrf_token %}

                                        {{reply_form}}<br>

                                    <!--<div class="row">-->
                                        <!--<button type="submit" class="btn btn-info col-2 offset-1">Reply</button>-->
                                    <!--</div>-->

                                    </form>
                                 {% endif %}

                        </div>

                    {%  endfor  %}

                    {% if user.is_authenticated %}
                        <form method="get" id="commentForm" action="/ourblog/postcomment/{{post.id}}">{% csrf_token %}

                            {{comment_form}}<br>

                              <div class="row">
                                <button type="submit" class="btn btn-info col-2 offset-1">Comment</button>
                              </div>

                            </form>
                    {% endif %}

                </div>
              </div>
              <!-- /.card -->


            <!-- Comment Modal -->

            <!--<div class="modal fade" id="commentModal">-->
              <!--<div class="modal-dialog">-->
                    <!--<div class="modal-content">-->

                      <!--&lt;!&ndash; Modal Header &ndash;&gt;-->
                      <!--<div class="modal-header">-->
                        <!--<h4 class="modal-title text-center">Leave a comment !</h4>-->
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                      <!--</div>-->

                      <!-- Modal body -->
                      <!--<div class="modal-body">-->
                         <!--<form method="get" id="commentForm" action="/ourblog/postcomment/{{post.id}}">{% csrf_token %}-->

                            <!--{{comment_form}}<br>-->

                              <!--<div class="row">-->
                                <!--<button type="submit" class="btn btn-info col-4 offset-4">Comment</button>-->
                              <!--</div>-->

                            <!--</form>-->
                      <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!-- Reply Modal -->

            <!--<div class="modal fade" id="replyModal">-->
              <!--<div class="modal-dialog">-->
                    <!--<div class="modal-content">-->

                      <!-- Modal Header -->
                      <!--<div class="modal-header">-->
                        <!--<h4 class="modal-title text-center">Your reply</h4>-->
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                      <!--</div>-->

                       <!--Modal body -->
                      <!--<div class="modal-body">-->
                         <!--<form method="get" id="replyForm" action="/ourblog/commentreply/{{post.id}}">{% csrf_token %}-->

                            <!--{{reply_form}}<br>-->

                              <!--<div class="row">-->
                                <!--<button type="submit" class="btn btn-info col-4 offset-4">Send</button>-->
                              <!--</div>-->

                            <!--</form>-->
                      <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        {% endblock %}


    </body>
</html>