<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>

        {% block categories_block %}


            {%  for category in categories  %}

                <a href="/ourblog/home/category/{{ category.id }}" class="list-group-item">{{ category.category_name }}</a>

            {%  endfor  %}


        {% endblock %}


        {% block main_block %}


            {% load staticfiles %}

            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="{{post.post_picture.url}}" alt="">
                <div class="card-body">
                  <h1 class="card-title">{{post.post_title}}</h1>
                  <h4>{{post.post_author}}</h4>
                  <p class="card-text">{{post.post_content}}</p>
                  <span class="text-warning">
                  {% for tag in tags %}
                        {{tag}}
                    {% endfor %}
                    </span>
                    <span class="pull-right">
                        {% if user.is_authenticated %}

                          {% if like_state %}

                          &nbsp;<span id="likesCount">{{likes}}</span>&nbsp;<button class="btn btn-success btn-md" id="likeBtn" postId={{post.id}}>Unlike</button>
                          &nbsp;<span id="dislikesCount">{{dislikes}}</span>&nbsp;<button class="btn btn-danger btn-md" id="dislikeBtn" postId={{post.id}} disabled>Dislike</button>

                          {% elif dislike_state %}

                            &nbsp;<span id="likesCount">{{likes}}</span>&nbsp;<button class="btn btn-success btn-md" id="likeBtn" postId={{post.id}} disabled>Like</button>
                            &nbsp;<span id="dislikesCount">{{dislikes}}</span>&nbsp;<button class="btn btn-danger btn-md" id="dislikeBtn" postId={{post.id}}>Undislike</button>


                          {% else %}

                            &nbsp;<span id="likesCount">{{likes}}</span>&nbsp;<button class="btn btn-success btn-md" id="likeBtn" postId={{post.id}}>Like</button>
                            &nbsp;<span id="dislikesCount">{{dislikes}}</span>&nbsp;<button class="btn btn-danger btn-md" id="dislikeBtn" postId={{post.id}}>Dislike</button>

                          {% endif %}

                        {% else %}

                            &nbsp;{{likes}}&nbsp;<span>{{likes_count}}&nbsp;<img src="{% static 'images/icons/Like-icon.png' %}"></span>
                            &nbsp;{{dislikes}}&nbsp;<span>{{dislikes_count}}&nbsp;<img src="{% static 'images/icons/Unlike-icon.png' %}"></span>

                        {% endif %}
                    </span>
                </div>
              </div>
              <!-- /.card -->

              <div class="card card-outline-secondary my-4">
                <div class="card-header">
                  Comments
                </div>
                <div class="card-body">

                    {%  for comment in comments  %}

                        <p>{{comment.comment_text}}</p>
                        <small class="text-muted">Posted by {{comment.comment_user.username}} on {{comment.comment_created_at}}</small>
                        <hr>

                        <div class="card-body">


                                {%  for comment_replies in replies  %}

                                    {%  for reply in comment_replies  %}

                                        {% if reply.reply_comment.id == comment.id%}

                                            <p>{{reply.reply_text}}</p>
                                            <small class="text-muted">Posted by {{reply.reply_user}} on {{reply.reply_created_at}}</small>
                                            <hr>

                                        {% endif %}

                                    {%  endfor  %}

                                {%  endfor  %}

                                 {% if user.is_authenticated %}
                                    <form method="get" id="replyForm" action="/ourblog/commentreply/{{post.id}}/{{comment.id}}">{% csrf_token %}

                                        {{reply_form}}<br>

                                    <!--<div class="row">-->
                                        <!--<button type="submit" class="btn btn-info col-2 offset-1">Reply</button>-->
                                    <!--</div>-->

                                    </form>
                                 {% endif %}

                        </div>

                    {%  endfor  %}

                    {% if user.is_authenticated %}
                        <form method="get" id="commentForm" action="/ourblog/postcomment/{{post.id}}">{% csrf_token %}

                            {{comment_form}}<br>

                              <div class="row">
                                <button type="submit" class="btn btn-info col-2 offset-1">Comment</button>
                              </div>

                            </form>
                    {% endif %}

                </div>
              </div>
              <!-- /.card -->

        {% endblock %}


    </body>
</html>
