<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>

    {% block reg_form %}
    <!-- Registeration Modal -->
    <div class="modal fade" id="myModal2">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-center">Registration</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
             <form action="ourblog/register">

                 {{reg_form}}

                </form>
          </div>
        </div>
     </div>
     </div>
    {% endblock %}

        <!--{% block login_icon %}-->

            <!--{% if user.is_authenticated %}-->

                <!--<a class="nav-link" href="#">Logout</a>-->

            <!--{% else %}-->

                <!--<a class="nav-link" href="#"  data-toggle="modal" data-target="#myModal1">Login</a>-->

            <!--{% endif %}-->

        <!--{% endblock %}-->


        <!--{% block register_icon %}-->

            <!--{% if user.is_authenticated %}-->

            <!--{% else %}-->

                <!--<a class="nav-link" href="#" data-toggle="modal" data-target="#myModal2" >Registration</a>-->

            <!--{% endif %}-->

            <!--{% if user.is_superuser %}-->

                <!--<a class="nav-link" href="#">Admin Panel</a>-->

            <!--{% endif %}-->

        <!--{% endblock %}-->


        {% block categories_block %}


            {%  for category in categories  %}

                <a href="#" class="list-group-item">{{ category.category_name }}</a>

            {%  endfor  %}


        {% endblock %}


        {% block main_block %}

            {% load staticfiles %}

            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="{% static post.post_picture %}" alt="">
                <div class="card-body">
                  <h1 class="card-title">{{post.post_title}}</h1>
                  <h4>{{post.post_author}}</h4>
                  <p class="card-text">{{post.post_content}}</p>
                  <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                  {% for tag in tags %}
                        {{tag}}
                    {% endfor %}
                    <span class="pull-right">
                        {% if user.is_authenticated %}
                            <button class="btn btn-success btn-sm" id="likeBtn" postId={{post.id}}><img src="{% static 'images/icons/thumb-up.svg' %}"> Like</button>
                            <button class="btn btn-danger btn-sm" id="dislikeBtn" postId={{post.id}}><img src="{% static 'images/icons/thumb-down.svg' %}"> Dislike </button>
                        {% endif %}
                    </span>
                </div>
              </div>
              <!-- /.card -->

              <div class="card card-outline-secondary my-4">
                <div class="card-header">
                  Comments
                </div>
                <div class="card-body">

                    {%  for comment in comments  %}

                        <p>{{comment.comment_text}}</p>
                        <small class="text-muted">Posted by {{comment.comment_user.username}} on {{comment.comment_created_at}}</small>
                        {% if user.is_authenticated %}
                            &nbsp;&nbsp;<button class="btn btn-info" data-toggle="modal" data-target="#replyModal">Reply</button>
                        {% endif %}
                        <hr>

                        <div class="card-body">

                             <div class="card-body">

                                {%  for comment_replies in replies  %}

                                    {%  for reply in comment_replies  %}

                                        {% if reply.reply_comment.id == comment.id%}

                                            <p>{{reply}}</p>
                                            <small class="text-muted">Posted by {{reply.reply_user}} on {{reply.reply_created_at}}</small>
                                            <hr>

                                        {% endif %}

                                    {%  endfor  %}

                                {%  endfor  %}

                             </div>

                        </div>

                    {%  endfor  %}
                    {% if user.is_authenticated %}
                        <button class="btn btn-info" data-toggle="modal" data-target="#commentModal">Leave a comment</button>
                    {% endif %}
                </div>
              </div>
              <!-- /.card -->


            <!-- Comment Modal -->

            <div class="modal fade" id="commentModal">
              <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title text-center">Leave a comment !</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                         <form method="post">{% csrf_token %}

                            {{comment_form}}<br>

                              <div class="row">
                                <button type="submit" class="btn btn-info col-4 offset-4">Comment</button>
                              </div>

                            </form>
                      </div>
                    </div>
                </div>
            </div>

            <!-- Reply Modal -->

            <div class="modal fade" id="replyModal">
              <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title text-center">Your reply</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                         <form method="post">{% csrf_token %}

                            {{reply_form}}<br>

                              <div class="row">
                                <button type="submit" class="btn btn-info col-4 offset-4">Send</button>
                              </div>

                            </form>
                      </div>
                    </div>
                </div>
            </div>

        {% endblock %}


    </body>




</html>